.nav_1, .nav_2 {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 40px;
}

.nav_1 {
    font-size: 14px;
    padding-top: 15px;

    li {
        padding: 15px;

        a {
            text-decoration: none;
            color: $color-grey;
        }

        &:hover {
            border: 0.75px $color-yellow solid;
        }
    }
}

.nav_2 {
    color: $color-text;
    font-size: 18px;

    li {
        padding: 15px;

        &:hover {
            border: 0.75px $color-text solid;
        }
    }
}