.threeColumns {
    background-image: url('../../../assets/ColumnsBackground.png');
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    color: $color-text2;

    div {
        text-align: center;

        h1 {
            font-size: 90px;
            padding-bottom: 10px;
        }

        h2 {
            font-size: 18px;
            padding-bottom: 20px;
        }

        p {
            font-size: 16px;
            color: $color-text;
            padding: 0 80px;
        }
    }
}