.useStory {
    color: $color-text;
    padding: 50px 0px;
    background-color: $color-white;
    text-align: center;
}

// buttons for useStory
.unclicked {
    background-color: $color-white;
    outline: none;
    border: 0px;
    font-size: 24px;
    margin: 20px;
}

.clicked {
    background-color: $color-white;
    font-size: 24px;
    padding: 20px;
}

// useStoryTables
.userStoryTables {

    .mainText {
        align-items: center;
        padding: 50px 400px;
        text-align: center;
    }

    .rows {
        margin: 20px 300px;
        position: relative;

        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 30px;
            padding-top: 30px;
            position: relative;
            border-bottom: 1px solid $color-grey;
            text-align: left;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}
