.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    padding-top: 30px;

    form {

        .login_form {
            display: flex;
            flex-direction: column;
            background-color: $color-1;
            padding: 45px 67px;
            margin-top: 30px;

            .formLabel {
                display: flex;
                flex-direction: column;
                font-size: 16px;
                padding-bottom: 20px;

                input {
                    background-color: transparent;
                    border: 0px solid;
                    border-bottom: 1px solid $color-grey;

                    &:focus {
                        border: none;
                        outline: none;

                    }
                }
            }
        }

        .form_btns {
            display: flex;
            justify-content: space-between;
            padding-top: 40px;

            button {
                text-decoration: none;
                color: $color-grey;
                padding: 15px;
                background-color: white;
                border: none;

                &:nth-child(2) {
                    border: 0.75px $color-text solid;
                }

                a {
                    text-decoration: $color-text;
                    color: $color-text;
                }
            }
        }
    }
}

.error {
    color: red;
    font-size: 12px;
}