.for_header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .header_h1 {
        size: 38px;
        color: $color-text;
        width: 674px;
        text-align: center;
    }

    .img_decoration {
        padding-top: 20px;
        padding-bottom: 10px;
        width: 250px;
    }
}

// imports for MainPage
@import './home/nav';
@import './home/header.scss';
@import './home/threeColumns.scss';
@import './home/fourSteps.scss';
@import './home/aboutUs.scss';
@import './home/userStory.scss';
@import './home/contactUs.scss';